.display {
  display: flex;
  flex-direction: column;
  flex: center;
  position: relative;
  left: 120px;
  top: 60px;
  border: solid white;
  min-height: 80vh;
  min-width: 70vw;
  max-height: 90vh;
  max-width: 70vh;
  overflow: scroll;
  margin: auto;
  padding: 20px 20px 20px;
  white-space: pre-wrap;
}

