/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
buttons {
  color: pink;
}
a {
  color: purple;
  text-decoration: underline;
} */

.nav-button {
  background-color: rgba(255, 255, 255, 0.995);
  color: rgb(0, 0, 20);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #DEFFFF;
  box-shadow: 0 0 15px #00FFFF, 0 0 10px #00D9FF;
}
.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.995);
  color: rgb(20, 8, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #FDD7C5;
  box-shadow: 0 0 15px #FF5E00, 0 0 10px #FF4800;
}
.nav-button-clicked {
  background-color: rgba(20, 0, 0, 0.794);
  color: #FF0000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #FF0000;
  box-shadow: 0 0 15px #FF0000, 0 0 10px #FF004C;
}
