body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Vic+ */
  background-color: black;
  background-image: url("./Images/PNGBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* potentially remove the one below */
  background-attachment: fixed;
  /* Vic+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  color: whitesmoke;
}

.hide {
  display: none;
}
/* move below somewhere else */
#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.animated-logo {
  width: 40%;
  -webkit-filter: drop-shadow(0 0 10px #00ffff);
  filter: drop-shadow(0 0 10px #00ffff);
  animation: huechange 5s linear infinite;
}
@keyframes huechange {
  0% {
    filter: drop-shadow(0 0 10px #00ffff);
  }

  50% {
    filter: drop-shadow(0 0 15px #00ffff);
  }

  100% {
    filter: drop-shadow(0 0 10px #00ffff);
  }
}
